body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}
header {
    background-color: #053B50;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.wrap {
    flex: 1;
    float: left;
    border: 2px solid #000;
    width: 900px;
    background-color: #64CCC5;
    padding: 10px;
}

.wrap{
    flex: 1;
}

.content {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.color-example h3 {
    color: #0073e6;
}

.color-example p {
    background-color: #f0d98c;
}

.typography-example p {
    font-family: 'Georgia', serif;
    font-size: 20px;
}

.typography-example p {
    text-align: right;
    line-height: 1.6;
}

#uniqueDiv {
    background-color: #64b5f6;
    font-size: 18px;
}

.info {
    border: 2px solid #4caf50;
    padding: 10px;
}

nav {
    background-color: #176B87;
    color: #fff;
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline;
    text-decoration: none;
    color: white;
    margin-left: 15px;
    transition: .3s;
}

.side-content {
    float: right;
    background-color: #202222;
    width: 300px;
    color: #fff;
    border: 2px solid #000;
}

.side-content h2 {
    margin-left: 10px;
}
.side-content blockquote p {
    margin-left: 10px;
}

footer{
    border: 2px solid #000;
    background-color: #053B50;
    font-style: italic;
    text-align: center;
    color: white;
}

nav ul li a:hover{
    color: #053B50;
}